@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');

body {
  margin: 0;
  font-family: Inter, sans-serif;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 24px;
  font-size: 0.875rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  font-family: Inter, sans-serif;
  font-size: 0.6875rem !important;
  text-transform: uppercase;
  font-weight: 600;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 1000;
}

#skip a {
  position: absolute;
  top: -2rem;
  left: 2rem;
}

#skip a:focus {
  top: 0;
}

@media print {
  #skip {
    display: none;
  }
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 2rem;
  height: 70px;
}

.hamburger {
  padding-left: 0;
}

.header-btn-container {
  display: flex;
  justify-content: end;
  min-width: 85px;
  min-height: 32px;
}

.header-btn-container > a {
  min-width: 85px;
  min-height: 32px;
}

.header-bottom {
  padding: 0 2rem;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  display: none;
  height: 0;
}

@media (min-width: 768px) {
  .header-bottom {
    display: flex;
    justify-content: center;
    height: 40px;
  }
}

#high-contrast-label {
  margin-left: 0.5rem;
  visibility: hidden;
}

#font-increase-label {
  display: none;
  margin-right: 0.5rem;
}

#font-decrease-label {
  margin-right: 0.5rem;
  display: none;
}

.header-bottom-container {
  padding: 0;
  margin: 0;
  height: 38px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-container {
  height: 100%;
  display: flex;
  justify-content: center;
}

.logo-container > img {
  height: 100%;
}

.navbar-mobile {
  display: flex;
}

@media (min-width: 768px) {
  .navbar-mobile {
    display: none;
  }
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: 0;
}

@media (min-width: 992px) {
  .info-container {
    gap: 1.25rem;
    flex-direction: row;
  }
}

.header-info {
  display: none;
}

@media (min-width: 768px) {
  .header-info {
    display: flex;
  }
}

.header-info > a {
  padding-left: 0.25rem;
}

nav {
  justify-content: center;
}

.nav-item {
  font-size: 1.25em;
  padding: 0.5rem 1rem;
}

.nav-link {
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  color: #000000;
  text-decoration: underline;
  text-underline-offset: 0.35em;
  text-decoration-color: rgba(0, 0, 0, 0.2);
}

.nav-link:hover {
  color: #000000;
  text-decoration-color: rgba(0, 0, 0, 1);
}

.nav-link.active {
  font-weight: 500;
  text-decoration-color: rgba(0, 0, 0, 0.75);
}

.nav-socials {
  display: flex;
  margin-top: 3rem;
  justify-content: center;
  gap: 1rem;
  color: rgba(0, 0, 0, 0.75);
}

.offcanvas-accessibility-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  font-family: ivypresto-display, serif;
  font-size: 1rem;
  padding-top: 70px;
}

@media (min-width: 768px) {
  main {
    padding-top: 110px;
  }
}

.video-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 75vh;
}

@media print {
  .video-container {
    display: none !important;
  }
}

.video-container > video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.video-overlay > h1 {
  width: 80%;
  padding: 1rem;
  font-size: 2.5rem;
  font-weight: 500;
}

@media (min-width: 600px) {
  .video-overlay > h1 {
    font-size: 3rem;
  }
}

@media (min-width: 796px) {
  .video-overlay > h1 {
    font-size: 4rem;
  }
}

.video-overlay .btn {
  width: 12em;
}

.content-block {
  padding: 1rem 2rem;
}

@media (min-width: 576px) {
  .content-block {
    padding: 1.25rem 3rem;
  }
}

@media (min-width: 768px) {
  .content-block {
    padding: 1.5rem 4rem;
  }
}

@media (min-width: 992px) {
  .content-block {
    padding: 1.75rem 5rem;
  }
}

@media (min-width: 1200px) {
  .content-block {
    padding: 2.75rem 8rem;
  }
}

@media (min-width: 1400px) {
  .content-block {
    padding: 4rem 12rem;
  }
}

.content-block .content-title-short {
  text-align: center;
  color: var(--bs-secondary-color);
  padding-bottom: 1rem;
}

.highcontrast .content-block .content-title-short {
  color: black;
}

.content-block .content-title-short-left {
  text-align: center;
  color: var(--bs-secondary-color);
}

.highcontrast .content-title-short-left {
  color: black;
}

@media (min-width: 768px) {
  .content-block .content-title-short-left {
    text-align: left;
  }

  .content-block .content-picture-title-desc .content-title-short-left {
    text-align: center;
  }
}

.content-block .content-title {
  text-align: center;
  padding-bottom: 2rem;
}

.content-block .content-text {
  /* text-align: center; */
  padding-bottom: 1rem;
  /* font-style: italic; */
}

.content-block .content-title-text {
  text-align: center;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .content-block .content-title-text {
    text-align: left;
    flex-direction: row;
  }
}

.content-block .content-title-text h2 {
  padding-right: 0;
  padding-bottom: 1rem;
}

@media (min-width: 768px) {
  .content-block .content-title-text h2 {
    padding-right: 5rem;
    padding-bottom: 0;
  }
}

.content-block .content-title-text p {
  text-align: left;
}

.content-block .content-picture-triple {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin: 0;
}

.content-block .content-picture-triple .modal-content > .btn-close {
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  cursor: pointer;
}

.content-block .content-picture-triple a > img {
  height: auto;
  object-fit: cover;
  cursor: pointer;
}

.content-block .content-desc-triple {
  display: flex;
}

.content-block .content-desc-triple h5 {
  text-align: center;
}

.content-block .content-desc-triple p {
  padding: 0 1rem;
}

.content-block .content-picture-title-desc {
  display: flex;
  flex-direction: column;
}

@media (min-width: 868px) {
  .content-block .content-picture-title-desc .content-title-short-left {
    text-align: left;
  }

  .content-block .content-picture-title-desc {
    flex-direction: row;
  }
}

.content-block .content-picture-title-desc .text-container {
  text-align: center;
  margin-top: 1rem;
  margin-left: 0;
  padding: 1rem;
  height: 100%;
}

@media (min-width: 868px) {
  .content-block .content-picture-title-desc .text-container {
    text-align: left;
    margin-top: 0;
    margin-left: 1rem;
  }
}

.content-block .content-picture-title-desc .text-container h2 {
  padding: 0.5rem 0;
}

.content-block .content-picture-title-desc .text-container p {
  text-align: left;
}

.content-block .content-table .content-table-title {
  font-style: italic;
  text-align: center;
  padding-bottom: 0.5rem;
}

.content-block .content-table .content-table-data {
  /* font-size: 1.25em; */
}

.content-block .content-form-info {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .content-block .content-form-info {
    flex-direction: row;
  }
}

.content-block .content-form-info .row {
  width: 100%;
}

.content-block .content-form-info .content-info-column {
  text-align: center;
}

@media (min-width: 768px) {
  .content-block .content-form-info .content-info-column {
    text-align: left;
  }
}

.content-block .content-form-info .content-info-column h4 {
  padding-bottom: 1rem;
}

.content-block .content-form-info .content-info-column p {
  /* font-size: 1.25em; */
  line-height: normal;;
  padding-bottom: 2rem;
}

.content-block .content-form-info .content-form-column form {
  padding: 1rem;
}

.content-block .content-form-info .content-form-column form .separator {
  width: 100%;
  height: 12px;
  background-image: url('assets/line-1px.png');
  margin-bottom: 1rem;
}

.content-block .content-form-info .content-form-column form .input-group {
  margin-bottom: 1rem;
}

.content-block .content-form-info .content-form-column form .input-group-prepend {
  width: 7rem;
}

.content-block .content-form-info .content-form-column form .misc-options {
  /* font-size: 1.25em; */
  display: flex;
  flex-direction: row;
  padding: 1rem 2rem;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.content-block .content-form-info .content-form-column form .button-group {
  display: flex;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
}

.content-image-full {
  margin: 1.5rem 0 0 0;
  width: 100%;
}

.content-image-full img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

footer {
  font-size: 0.75rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  color: white;
  background-color: black;
}

@media (min-width: 576px) {
  footer {
    font-size: 0.875rem;
  }
}

footer .footer-container {
  width: 100%;
  padding: 0.75rem 2rem;
}

@media (min-width: 576px) {
  footer .footer-container {
    padding: 1rem 3rem;
  }
}

@media (min-width: 768px) {
  footer .footer-container {
    padding: 1.25rem 4rem;
  }
}

@media (min-width: 992px) {
  footer .footer-container {
    padding: 1.5rem 5rem;
  }
}

footer .footer-container .footer-title {
  text-transform: uppercase;
}

.socials-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

@media (min-width: 576px) {
  .socials-container {
    flex-direction: row;
    justify-content: flex-end;
    gap: 0;
  }
}
